/*
http://develoteca.com/bootstrap-file-input-archivos-utilizando-html5/
*/

body {
    margin:0;
    padding: 0;
}

    .titulo{
        text-align: center;
        width: 90%;
        margin: 5% 3%;
    }
        .custom-file-control:lang(es)::after {
          content: "Elija su imagen...";
        }
        .custom-file-control:lang(es)::before {
          content: "Buscar";
        }
    
    
    #map{
        height: 700px;
    }

        
.alta .form-control {
    width: 100% !important;
    height: auto !important;
    font-size: 1rem !important;
    padding: .5rem .75rem !important;
    border-radius: .25rem !important;
    background-color: #fff !important;
    -webkit-box-sizing: inherit !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.alta .redesSociales .form-group input[type=checkbox]{
    margin-right: 23px;
    position: inherit !important;
    opacity: 1 !important;
}

.alta label {
    color:black;
}
